<h1>Editing sala bate papo</h1>

<%= render "form", sala_bate_papo: @sala_bate_papo %>

<br>

<div>
  <%= link_to "Show this sala bate papo", @sala_bate_papo %> |
  <%= link_to "Back to sala bate papos", sala_bate_papos_path %>
</div>
